.header
  display: flex;
  justify-content: center;
  padding: 20px 0
  position: relative;
  z-index: 99
  width: 100%
  &:before
    content: '';
    position: absolute;
    opacity: 0.8
    width: 100%
    height: 100%
    left: 0;
    top 0;
    background: #000000
    z-index: 0

nav
  display: flex;
  z-index: 99

.header-navigation
  width: 50%
  justify-content: space-between;
  align-items: center;


.header-nav-link
  text-transform: capitalize;
  color: #8f9091
  transition: 0.2s ease-in
  font-family: 'OpenSans-Regular'
.header-nav-link
  &:hover
    color: #ffcd62
    transition: 0.2s  ease-in
