footer.footer
  .container
    .content-row.jc-between
      .copyright
        a.copyright-link © 2009-2018 Политика конфиденциальности и условия использования материалов
      .socials
        h3.socials-heading Мы в соц. сетях:
        .socials-wrap
          a.social-link(href="/")
            +icon('vk-logo', 'socials-icon')
          a.social-link(href="/")
            +icon('fb-logo', 'socials-icon')
          a.social-link(href="/")
            +icon('ok-logo', 'socials-icon')
