header.header
  .container.jc-between
    nav.navigation.header-navigation
      li.nav-li.header-nav-li
        a(href='/').nav-link.header-nav-link Новинка!!! Вау-эффект
      li.nav-li.header-nav-li
        a(href='/').nav-link.header-nav-link ваш дом сфера 
      li.nav-li.header-nav-li
        a(href='/').nav-link.header-nav-link  Виды домов
      li.nav-li.header-nav-li
        a(href='/').nav-link.header-nav-link  Контакты 
    a.btn.btn-header.btn-call  перезвоните мне
