extends ../layout/main

block variables
	- var title = 'Main Page'
	- var pageClass = 'index-page'

block content
	section.hero-section
		include ../modules/header	
		.container
			.content-wrap
				.content-row.jc-between
					.logo
						a(href="/").logo-link
							img.logo-img(src="/static/img/general/logo-head.png")
					.link-wrap
						+icon('contact-mail', 'contact-icon-hero')
						a(href="/").contact-link pro@davinchidom.ru
						+icon('contact-phone', 'contact-icon-hero')
						a(href="/").contact-link +7 (905) 502-03-71
					.separator
				.content-row.content-row--hero.jc-between
					.content-text.column
						h2.heading-main.heading-hero Ультрасовременные
						p.text.hero-text дома в виде сферы 
						p.text.hero-text “да винчи”
						a(href="/").link Подробнее
					.contact-form.header-contact-form
						form.request-price
							.input-row.input-row--request-price
								+icon('user', 'contact-icon-input')
								input(placeholder="Имя..").request-price-field.field-enter-name
							.input-row.input-row--request-price
								+icon('contact-mail', 'contact-icon-input')
								input(placeholder="Почта...").request-price-field.field-enter-email
							.input-row.input-row--request-price
								+icon('contact-phone', 'contact-icon-input')
								input(placeholder="Телефон...").request-price-field.field-enter-phone
							.input-row.input-row--request-price
								a.btn.btn-request-price запросить стоимость
	section.ultramodern-houses
		.container
			.content-wrap
				.content-row.jc-center
					h2.heading-main.heading-ultramodern-houses ультрасовременные дома
						.separator-heading
				.content-row.jc-between
					.house-advantage
						.img-background
							img(src="/static/img/general/h-2.jpg").house-advantage-img
						h2.house-advantage-heading крепкий каркас
						p.text.house-advantage-descr-text мы делаем самые прочные дома в россии, уникальная система, толщина стенок из фанеры от 30 до 50 см
					.house-advantage
						.img-background
							img(src="/static/img/general/h-2.jpg").house-advantage-img
						h2.house-advantage-heading идеальная форма
						p.text.house-advantage-descr-text наша сфера не приплюснута как все остальные на рынке.мы не строим оптические иллюзии на сайте, выдавая желаемое за действительное.мы её действительно подняли в своих проектах, чтобы она напоминала сферу, а не полусферу
					.house-advantage
						.img-background
							img(src="/static/img/general/h-2.jpg").house-advantage-img
						h2.house-advantage-heading теплый дом
						p.text.house-advantage-descr-text наша технология позволяет делать самые теплые дома. толщина утеплителя может достигать 50см!!!мы используем экологичные утеплители Paroc или натуральный лен
	section.circle-house
		.img-background--circle
			.img-background--circle
				img(src="/static/img/general/foto-2.png")
		.container
			.content-wrap
				.content-row.content-row--circle.jc-center
					h2.heading-main.heading--project-manager круглый дом “da vinci”
						.separator-heading.separator-orange
				.content-row.content-row--circle.jc-between
					.circle-info-block
						h2.circle-heading Это настоящий дом для жизни
						p.circle-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus
					.circle-info-block
						h2.circle-heading Это настоящий дом для жизни
						p.circle-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus
				.content-row.content-row--circle.jc-between
					.circle-info-block
						h2.circle-heading Это настоящий дом для жизни
						p.circle-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus
					.circle-info-block
						h2.circle-heading Это настоящий дом для жизни
						p.circle-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus 	 
				.content-row.content-row--circle.jc-between
					.circle-info-block
						h2.circle-heading Это настоящий дом для жизни
						p.circle-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus
					.circle-info-block
						h2.circle-heading Это настоящий дом для жизни
						p.circle-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus 	 
				.content-row.content-row--circle.jc-center
					.circle-info-block
						h2.circle-heading Это настоящий дом для жизни
						p.circle-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus
	section.houses-types
		.container
			.content-wrap
				.content-row.jc-center
					h2.heading-main.heading-ultramodern-houses виды домов
						.separator-heading.separator-heading--house-type
				.content-row.content-row--house-type
					.house
						.house-left-side
							img(src="/static/img/general/sfera-left-side.png")
						.house-right-side.column
							.house-heading-row
								h3.house-type-heading дом 6 метров
							.house-desc-wrap.column
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								a.btn.btn-request-price запросить цену
					.house.row-reverse
						.house-left-side.reverse-side--right
							img(src="/static/img/general/h-2.jpg")
						.house-right-side.column.reverse-side--left
							.house-heading-row
								h3.house-type-heading дом 6 метров
							.house-desc-wrap.column
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								a.btn.btn-request-price запросить цену
					.house
						.house-left-side
							img(src="/static/img/general/sfera-left-side.png")
						.house-right-side.column
							.house-heading-row
								h3.house-type-heading дом 6 метров
							.house-desc-wrap.column
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								a.btn.btn-request-price запросить цену
					.house.row-reverse
						.house-left-side
							img(src="/static/img/general/sfera-left-side.png")
						.house-right-side.column
							.house-heading-row
								h3.house-type-heading дом 6 метров
							.house-desc-wrap.column
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								a.btn.btn-request-price запросить цену			
					.house
						.house-left-side
							img(src="/static/img/general/sfera-left-side.png")
						.house-right-side.column
							.house-heading-row
								h3.house-type-heading дом 6 метров
							.house-desc-wrap.column
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								a.btn.btn-request-price запросить цену
		.get-present
			.container.column
				.content-row.jc-center.align-items-baseline
					h2.heading-main.heading-present Вы можете получить в
					h2.bold-text подарок
				.content-row.content-row--present
					.house-present
						.img-background--present
							.img-background--present-decoration
							img(src="/static/img/general/foto-3.png").house-present-img
						h2.house-present-heading Садовые качели
					.house-present
						.img-background--present
							.img-background--present-decoration
							img(src="/static/img/general/foto-2.png").house-present-img
						h2.house-present-heading септик топас
					.house-present
						.img-background--present
							img(src="/static/img/general/foto-1.png").house-present-img
							.img-background--present-decoration
						h2.house-present-heading терасса
	section.our-clients
		.container
			.content-wrap
				.content-row.jc-center
					h2.heading-main.heading-clients наши клиенты
						.separator-heading
				.content-row.jc-between
					.client-card
						.img-clients-card
							img(src="/static/img/general/client-photo.png").client-img
						.client-descr
							p.color-text Это неординарные
								span.text.client-descr-text люди с нестандартным типом мышления
					.client-card
						.img-clients-card
							img(src="/static/img/general/client-photo.png").client-img
						.client-descr
							p.color-text Cтремятся к развитию,
								span.text.client-descr-text не бояться привлечь к себе внимание всей округи и готовые завести новыеинтересные знакомства
					.client-card
						.img-clients-card
							img(src="/static/img/general/client-photo.png").client-img
						.client-descr
							p.color-text Cтремятся к развитию,
								span.text.client-descr-text не бояться привлечь к себе внимание всей округи и готовые завести новыеинтересные знакомства
	section.help-area
		.container
			.content-wrap
				.content-row.jc-center
					h2.heading-main.heading--help-area помощь с участком
						.separator-heading.separator-heading--help-area
				.content-row.content-row--help.column
					.image-help
						img(src="/static/img/general/help-img.png").img-help-area
					.help-info
						h2.help-heading Можем помочь с выбором участка
						p.text.help-text и реализовать возможности существующего участка в ком плане для строительство гостиницы / базы отдыха, постройки поселка домов в виде сфер
						.btn.btn-request-price.btn-help помочь с выбором участка
	section.project-manager
		.container
			.content-wrap
				.content-row.jc-center
					h2.heading-main.heading--project-manager Один руководитель проекта на весь цикл стройки
						.separator-heading.separator-orange
				.content-row.content-row--project.column
					.image-help.image-help--project
						img(src="/static/img/general/help-img-2.png").img-help-area
					.project-m-info
						h2.project-m-heading Строительство дома это важный этап в жизни
						p.text.project-m-text и мы понимаем, что наши клиенты могут быть профессионалами в своих областях, но совершенно не обязаны разбираться в том, какой септик лучше установить или подключить тип отопления, поэтому на каждый проект мы назначаем ответственного руководителя, который лично заинтересован, чтобы сделать всё как надо
						a.btn.btn-request-price.btn-project помочь со строительством
	section.contacts
		.container
			.content-wrap
				.content-row.jc-center
					.contact-heading-row
						h2.heading-main контакты
							.separator-heading.separator-heading--contact
				.content-row
					.contact-side
						.contact-row
							.contact-heading-row
								+icon('contact-phone', 'contact-icon')
								h2.contact-name телефон:
							.contact-info-row
								a.contact-link--contacts +7 (905) 502-03-71
								a.contact-link--contacts +7 (905) 502-03-71
						.contact-row
							.contact-heading-row
								+icon('contact-marker', 'contact-icon')
								h2.contact-name адрес
							.contact-info-row.column
								a.contact-link--contacts Москва, Нагорный проезд.д. 7; 
								a.contact-link--contacts ООО “Идеи Да Винчи”
						.contact-row
							.contact-heading-row
								+icon('contact-mail', 'contact-icon')
								h2.contact-name почта:
							.contact-info-row
								a.contact-link--contacts pro@davinchidom.ru
					.cart-side
	.contact-form.contact-form--recall.contact-form-popup
		.contact-row-content
			+icon('close-icon', 'form-icon-close')
			.contact-form-top
				h2.contact-form-heading перезвоните мне
				p.contact-form-text наш руководитель проектов  перезвонит Вам в течении дня
			form.request-price
				.input-row.input-row--request-price
					+icon('user', 'contact-icon-input')
					input(placeholder="Имя..").request-price-field.field-enter-name
				.input-row.input-row--request-price
					+icon('contact-phone', 'contact-icon-input')
					input(placeholder="Телефон...").request-price-field.field-enter-phone
				.input-row.input-row--request-price
					button.btn.btn-request-price Отправить
	.contact-form.contact-form--help-area.contact-form-popup
		.contact-row-content
			+icon('close-icon', 'form-icon-close')
			.contact-form-top
				h2.contact-form-heading Помощь с участком
				p.contact-form-text наш руководитель проектов  перезвонит Вам в течении дня
			form.request-price
				.input-row.input-row--request-price
					+icon('user', 'contact-icon-input')
					input(placeholder="Имя..").request-price-field.field-enter-name
				.input-row.input-row--request-price
					+icon('contact-mail', 'contact-icon-input')
					input(placeholder="Почта...").request-price-field.field-enter-email
				.input-row.input-row--request-price
					+icon('contact-phone', 'contact-icon-input')
					input(placeholder="Телефон...").request-price-field.field-enter-phone
				.input-row.input-row--request-price
					textarea(type="textarea" placeholder="напишите сообщение...").request-price-field.field-enter-message
				.input-row.input-row--request-price
					button.btn.btn-request-price Отправить
	.contact-form.contact-form--help-build.contact-form-popup
		.contact-row-content
			+icon('close-icon', 'form-icon-close')
			.contact-form-top
				h2.contact-form-heading Помощь со строительством
				p.contact-form-text наш руководитель проектов  перезвонит Вам в течении дня
			form.request-price
				.input-row.input-row--request-price
					+icon('user', 'contact-icon-input')
					input(placeholder="Имя..").request-price-field.field-enter-name
				.input-row.input-row--request-price
					+icon('contact-phone', 'contact-icon-input')
					input(placeholder="Телефон...").request-price-field.field-enter-phone
				.input-row.input-row--request-price
					button.btn.btn-request-price Отправить							
