extends ../layout/main

block variables
	- var title = 'Main Page'
	- var pageClass = 'index-page'

block content
	section.hero-section
		include ../modules/header	
		.container
			.content-wrap
				.content-row.jc-between
					.logo
						a(href="/").logo-link
							img.logo-img(src="/static/img/general/logo-head.png")
					.link-wrap
						a(href="/").contact-link pro@davinchidom.ru
						a(href="/").contact-link +7 (905) 502-03-71
					.separator
				.content-row.content-row--hero.jc-between
					.content-text.column
						h2.heading-main Ультрасовременные
						p.text.hero-text дома в виде сферы 
						p.text.hero-text “да винчи”
						a(href="/").link Подробнее
					.contact-form.header-contact-form
						form.request-price
							.input-row.input-row--request-price
								input(placeholder="Имя..").request-price-field.field-enter-name
							.input-row.input-row--request-price
								input(placeholder="Имя..").request-price-field.field-enter-email
							.input-row.input-row--request-price
								input(placeholder="Имя..").request-price-field.field-enter-phone
								a.btn.btn-request-price запросить стоимость
	section.ultramodern-houses
		.container
			.content-wrap
				.content-row.jc-center
					h2.heading-main.heading-ultramodern-houses ультрасовременные дома
						.separator-heading
				.content-row.jc-between
					.house-advantage
						.img-background
							img(src="/static/img/general/h-2.jpg").house-advantage-img
						h2.house-advantage-heading крепкий каркас
						p.text.house-advantage-descr-text мы делаем самые прочные дома в россии, уникальная система, толщина стенок из фанеры от 30 до 50 см
					.house-advantage
						.img-background
							img(src="/static/img/general/h-2.jpg").house-advantage-img
						h2.house-advantage-heading идеальная форма
						p.text.house-advantage-descr-text наша сфера не приплюснута как все остальные на рынке.мы не строим оптические иллюзии на сайте, выдавая желаемое за действительное.мы её действительно подняли в своих проектах, чтобы она напоминала сферу, а не полусферу
					.house-advantage
						.img-background
							img(src="/static/img/general/h-2.jpg").house-advantage-img
						h2.house-advantage-heading теплый дом
						p.text.house-advantage-descr-text наша технология позволяет делать самые теплые дома. толщина утеплителя может достигать 50см!!!мы используем экологичные утеплители Paroc или натуральный лен
	section.houses-types
		.container
			.content-wrap
				.content-row.jc-center
					h2.heading-main.heading-ultramodern-houses виды домов
						.separator-heading.separator-heading--house-type
				.content-row.content-row--house-type
					.house
						.house-left-side
							img(src="/static/img/general/sfera-left-side.png")
						.house-right-side.column
							.house-heading-row
								h3.house-type-heading дом 6 метров
							.house-desc-wrap.column
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								a.btn.btn-request-price запросить цену
					.house.row-reverse
						.house-left-side.reverse-side--right
							img(src="/static/img/general/h-2.jpg")
						.house-right-side.column.reverse-side--left
							.house-heading-row
								h3.house-type-heading дом 6 метров
							.house-desc-wrap.column
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								a.btn.btn-request-price запросить цену
					.house
						.house-left-side
							img(src="/static/img/general/sfera-left-side.png")
						.house-right-side.column
							.house-heading-row
								h3.house-type-heading дом 6 метров
							.house-desc-wrap.column
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								a.btn.btn-request-price запросить цену
					.house.row-reverse
						.house-left-side
							img(src="/static/img/general/sfera-left-side.png")
						.house-right-side.column
							.house-heading-row
								h3.house-type-heading дом 6 метров
							.house-desc-wrap.column
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								a.btn.btn-request-price запросить цену			
					.house
						.house-left-side
							img(src="/static/img/general/sfera-left-side.png")
						.house-right-side.column
							.house-heading-row
								h3.house-type-heading дом 6 метров
							.house-desc-wrap.column
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								.house-desc-row
									p.text.text-house-desc Высота первого этажа
									span.text-house-desc--number 5 м
								a.btn.btn-request-price запросить цену
		.get-present
			.container.column
				.content-row.jc-center.align-items-baseline
					h2.heading-main.heading-present Вы можете получить в
					h2.bold-text подарок
				.content-row.content-row--present
					.house-present
						.img-background--present
							.img-background--present-decoration
							img(src="/static/img/general/foto-3.png").house-present-img
						h2.house-present-heading Садовые качели
					.house-present
						.img-background--present
							.img-background--present-decoration
							img(src="/static/img/general/foto-2.png").house-present-img
						h2.house-present-heading септик топас
					.house-present
						.img-background--present
							img(src="/static/img/general/foto-1.png").house-present-img
							.img-background--present-decoration
						h2.house-present-heading терасса
	section.our-clients
		.container
			.content-wrap
				.content-row.jc-center
					h2.heading-main.heading-clients наши клиенты
						.separator-heading
				.content-row.jc-between
					.client-card
						.img-clients-card
							img(src="/static/img/general/client-photo.png").client-img
						.client-descr
							p.color-text Это неординарные
								span.text.client-descr-text люди с нестандартным типом мышления
					.client-card
						.img-clients-card
							img(src="/static/img/general/client-photo.png").client-img
						.client-descr
							p.color-text Cтремятся к развитию,
								span.text.client-descr-text не бояться привлечь к себе внимание всей округи и готовые завести новыеинтересные знакомства
					.client-card
						.img-clients-card
							img(src="/static/img/general/client-photo.png").client-img
						.client-descr
							p.color-text Cтремятся к развитию,
								span.text.client-descr-text не бояться привлечь к себе внимание всей округи и готовые завести новыеинтересные знакомства
	section.help-area
		.container
			.content-wrap
				.content-row.jc-center
					h2.heading-main.heading--help-area помощь с участком
						.separator-heading.separator-heading--help-area
				.content-row.content-row--help.column
					.image-help
						img(src="/static/img/general/help-img.png").img-help-area
					.help-info
						h2.help-heading Можем помочь с выбором участка
						p.text.help-text и реализовать возможности существующего участка в ком плане для строительство гостиницы / базы отдыха, постройки поселка домов в виде сфер
						.btn.btn-request-price.btn-help помочь с выбором участка
	section.project-manager
		.container
			.content-wrap
				.content-row.jc-center
					h2.heading-main.heading--project-manager Один руководитель проекта на весь цикл стройки
						.separator-heading.separator-heading--project-manager
				.content-row.content-row--help.column
					.image-project-m
						img(src="/static/img/general/project-m-img.png").img-project-manager
					.project-m-info
						h2.project-m-heading Можем помочь с выбором участка
						p.text.project-m-text и реализовать возможности существующего участка в ком плане для строительство гостиницы / базы отдыха, постройки поселка домов в виде сфер
						.btn.btn-request-price.btn-help помочь с выбором участка
