.btn
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 25px;
  text-transform: uppercase;
  font-family: openSansSemi
  cursor: pointer;
  transition: 0.3s ease-in-out
  &:hover
    transition: 0.3s ease-in-out


button
  border: none

.btn-header
  border: 2px solid #edab4d
  background: #47494f
  color: #edab4d
  font-size: 12px
  padding: 10px 22px
  z-index: 99
  &:hover
    background: linear-gradient( 45deg, rgb(224,146,61) 0%, rgb(255,205,98) 100%);
    color: #333
    transition: 0.3s ease-in-out



.btn-request-price
  background-color: #f0b151
  width: 100%
  padding: 15px 0
  margin-top: 30px
  font-size: 14px
  &:hover
    background: #f5ca69
    transition: 0.3s ease-in-out

.btn-help
  width: 60%
  font-family: openSansBold

.btn-project
  color: rgb(255, 205, 98);
  line-height: 2.857;
  border-width: 2px;
  border-style: solid;
  background-color: rgba(255, 255, 255, 0.149);
  width: 304px;
  height: 46px;
  padding: 0
  &:hover
    background-color: rgba(255, 255, 255, 0.149);
    transition: 0.3s ease-in-out
