// ЦВЕТА
whiteColor = #ffffff
blackColor= #000000
goldenColor = #ffcd62
// РАЗМЕРЫ
baseFontSize = 16px


// ШРИФТЫ
openSansSemi = "OpenSans-SemiBold"
openSansReg = "OpenSans-Regular"
openSansBold = "OpenSans-Bold"
