.footer
  background: #201f1f

.copyright-link
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 2.571;

.socials-heading
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 2.571;
  margin-right: 15px
.socials
  display: flex;

.socials-wrap
  display: flex;

.social-link
  border-radius: 50%
  border: 1px solid goldenColor
  cursor: pointer;
  width: 32px
  height: 32px
  margin-right: 10px
  transition: 0.3s ease-in-out
  display: flex;
  align-items: center;
  justify-content: center;
  fill goldenColor
.social-link
  &:hover
    transition: 0.3s ease-in-out
    background-color: goldenColor
  &:hover .socials-icon
    fill: #201f1f
    transition: 0.3s ease-in-out
.social-link
  &:last-child
    margin-right: 0

.socials-icon
  width: 18px
  height: 18px
  transition: 0.3s ease-in-out
